@model IEnumerable<testCrud.Models.Announcement>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Стіна оголошень</title>
    <link href="~/Styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Онлайн оголошення "Пошуківка"</h1>
    <div >
        <a href="~/Home/Create" class="create-btn">Створити оголошення</a>
    </div>
    <table>
        <tr>
            <td>Назва</td>
            <td>Дата</td>
            <td></td>
        </tr>
        @foreach (var announc in Model)
        {
            <tr>
                <td>@announc.Title</td>
                <td>@announc.Date</td>
                <td><a href="~/Home/Details/@announc.Id" class="details-ref">Детальніше</a></td>
            </tr>
        }
    </table>

</body>
</html>