@model IEnumerable<testCrud.Models.Announcement>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Стіна оголошень</title>
</head>
<body>
    <h3>Оголошення</h3>
    <div>
        <a href="~/Home/Create">Створити оголошення</a>
    </div>
    <table>
        <tr>
            <td>Назва</td>
            <td>Дата</td>
            <td></td>
        </tr>
        @foreach (var announc in Model)
        {
            <tr>
                <td>@announc.Title</td>
                <td>@announc.Date</td>
                <td><a href="~/Home/Details/@announc.Id">Детальніше</a></td>
            </tr>
        }
    </table>

</body>
</html>