@model testCrud.Models.Announcement
<title>Редагування</title>
<link href="~/Styles.css" rel="stylesheet" />
<h3>Редагування оголошення</h3>

<div>
    <form method="post">
        <table>
            <tr>
                <td>Назва</td>
                <td><input type="text" name="Title" required /></td>
            </tr>
            <tr>
                <td>Опис</td>
                <td><input type="text" name="Description" required /></td>
            </tr>
            <tr>
                <td>Дата</td>
                <td><input type="text" name="Date" required /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Зберегти" /></td>
            </tr>
        </table>
       </form>
</div>

<p><a href="~/">На головну</a></p>


